*.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

## python 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
auth.py
.streamlit/secrets.toml
seoul_data/whatToEat_DB_all_raw.xlsx
seoul_data/whatToEat_DB_socho_extra_raw.xlsx
/back_up
/src/.streamlit
/.streamlit
/old_versions
/old_versions
/research
/old_versions
/legacy_data
/crawler
data/*.csv
*.env
/.venv
.vscode/