@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

* {
    font-family: 'BMJUA';
}

.css-1offfwp {
    color: #ff4b4b;
}

.css-1vtvmlg > iframe{
    width: 100%;
}

iframe{
    position: relative;
    width: 100%;
    padding: 0 20px;
}